/* fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");

* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --main-text-color: #fff;
  --heading-font: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}
hr {
  margin: 0 40px;
}

.landing-container {
  line-height: 1.8em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

/* first section */
.first-section-container {
  background: #152238;
  height: 100vh;
  min-height: 600px;
}
#button-create-classroom {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
}

.image-container {
  height: 50vh;
}

.image-container img {
  height: 60vh;

  min-height: 100px;
  width: 60vw;
  margin: auto;
  display: block;
}
.main-container {
  height: 40vh;
}
.content-container {
  align-self: center;
}

.content-container h1,
h3,
h6 {
  color: var(--main-text-color);
}
#button-join-classroom {
  margin-top: 15px;
  align-self: center;
}

main {
  width: 100%;
}

.landing-container {
  text-align: center;
  padding: 0;
  margin: 0;
}

.bullet-lists {
  list-style-type: square;
  text-align: justify;
  padding-left: 22px;
}

/* second-content */
.secondpage-container {
  margin: 12px 0px;
}

.secondpage-rightcontent {
  background: url(../../assets/img/classroom.jpg) center center no-repeat;
  background-size: cover;
  height: auto;
  min-height: 300px;
  position: relative;
}

.secondpage-leftcontent {
  margin: 2%;
}

button {
  cursor: pointer;
}

/* Third-content */
.thirdsection-rightside {
  background: url(../../assets/svg/features.svg) center center no-repeat;
  background-size: contain;
  height: 300px;
  position: relative !important;
}

.thirdsection-leftside {
  margin: 2%;
}

#sign-up-button {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 0;
}

/*Form section */
.form-section {
  display: block;
  margin: 2%;
  align-content: center;
}

/* footer */

footer {
  background: #152238;
  color: var(--main-text-color);
  height: 100px;
}
.footer-container hr {
  display: block;
}

.footer-container {
  min-height: 50px;
  width: 85%;
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}

.footer-links-container {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 0 10px;
}

.footer-link {
  text-decoration: none;
  color: var(--main-text-color);
}

.footer-link-bar {
  margin: 0 15px;
  height: 15px;
  width: 2px;
  background-color: rgba(68, 93, 110, 0.53);
}

.footer-copyright-container {
  font-size: 12px;
  text-align: center;
}

/* Media queries */

@media only screen and (min-width: 600px) {
  /* first section */
  .first-section-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;
    color: var(--main-text-color);
  }

  .first-section-container img {
    width: 400px;
    height: 400px;
  }
  .main-container {
    display: flex;

    justify-content: space-evenly;
  }

  .content-container {
    margin-top: 50px;
  }
  .content-container h1,
  h3,
  h6 {
    color: var(--main-text-color);
  }
  #button-join-classroom {
    height: 40px;
    margin-top: 40px;
  }

  /* Second section */
  .secondpage-container {
    display: flex;
    margin-right: 3%;
  }

  .thirdsection-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .secondpage-rightcontent {
    flex-basis: 100px;
    flex-grow: 1;
  }

  .thirdsection-rightside {
    width: 50%;
  }
  .bullet-lists li {
    word-wrap: wrap;
    width: 90%;
    margin-left: 2%;
  }
  .thirdsection-leftside {
    width: 50%;
    max-width: 50%;
  }
  .secondpage-leftcontent {
    max-width: 50%;
  }
}
