* {
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.form-controls {
  height: 40vh;
  min-height: 200px;

  padding: 0;
  flex-wrap: wrap;
  justify-content: stretch;
}

.form-container {
  margin: 0 10px;
  justify-content: center;
}

#submit {
  margin: 20px auto;
  width: 100%;
}
@media only screen and (min-width: 600px) {
  .form-container {
    margin: 0 auto;
  }
}
