.MuiAppBar-root {
  margin: 0;
  padding: 0;
  background-color: #3f5112;
}

.MuiAppBar-colorPrimary {
  background-color: #3f5112;
  color: red;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  width: 100vw;
  height: 100vh;
}

.left-nav-bar {
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-content: center;

  background: #152238;
  color: white;
}
