* {
  margin: 0;
}
.Authetication-form-container {
  height: 100%;
  min-height: 100vh;
  background: #152238;
}

.registration-container {
  padding: 115px 40px;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.registration-image {
  height: 200px;
  width: auto;
  background: url(./background.jpg) center center no-repeat;
  background-size: cover;
}

.form-contents {
  background: #fff;
  padding: 0 20px;
}

.form-contents h1 {
  width: 100%;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
}
.form-contents h1::before,
h1::after {
  display: inline;
}
@media only screen and (min-width: 600px) {
  .form-container {
    flex-direction: row;
  }
  .registration-image {
    width: 50vw;
    height: auto;
  }
}
